footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #9BC1BC;
    min-height: 55px;
    width: 100%;
    overflow: hidden;
  }
  
  footer h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 300;
    color: black;
  }
  
  .social-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;

  }

  .social-btn {
      color: black;
      margin-right: 10px;
  }

  .resume {
      text-decoration: none;
      color: black;
  }